<% include header %>
<h1>Is it cloudy?</h1>
<form method="post" action="/IsItCloudy">
    <input type="text" name="place" placeholder="Where??" class="form-control">
    <br><br>
    <button class="btn btn-primary">Lets find out</button>
</form>
<% include footer %>